<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<section class="section">
  <div class="card">
    <div class="card-body">
      <div class="card-text pt-3">
        <!-- Not ready yet! -->
        <div class="d-flex flex-column jc-center alighn-items-start w-100 pt-4">
          <div class="row">
            <div class="col-6">
              <h1 class="py-2 pb-4">ارتباط با ما</h1>
              <!-- address -->
              <p class="px-2">
                <i class="pi pi-map-marker"></i>
                <strong>آدرس:</strong>
                تهران - خیابان ولیعصر - بالاتر از میدان ونک - خیابان عطار- پلاک
                10
              </p>
              <!-- / address -->

              <!-- telephone -->
              <p class="px-2">
                <i class="pi pi-phone"></i>
                <strong>تلفن:</strong>
                {{ '88660744- 021' | faNum }}
              </p>
              <!-- / telephone -->

              <!-- fax -->
              <p class="px-2">
                <i class="pi pi-print"></i>
                <strong>فکس:</strong>
                {{ '88660757- 021' | faNum }}
              </p>
              <!-- / fax -->

              <!-- postal code -->
              <p class="px-2">
                <i class="pi pi-map-marker"></i>
                <strong>کد پستی:</strong>
                {{ '1994643411' | faNum }}
              </p>
              <!-- /  postal code -->

              <!-- email -->
              <p class="px-2 line">
                <i class="pi pi-envelope"></i>
                <strong>ایمیل:</strong>
                info@szf.ir
              </p>
              <!-- / email -->

              <h4 class="py-2" style="margin-bottom: 20px">روابط عمومی</h4>

              <!-- telephone -->
              <p class="px-2">
                <i class="pi pi-phone"></i>
                <strong>تلفن:</strong>
                {{ '88660745- 021' | faNum }}
              </p>
              <!-- / telephone -->

              <!-- fax -->
              <p class="px-2">
                <i class="pi pi-print"></i>
                <strong>فکس:</strong>
                {{ '88660757- 021' | faNum }}
              </p>
              <!-- / fax -->
            </div>
            <div class="col-6">
              <img src="assets/images/map.png" class="img-fluid" />
            </div>
          </div>
        </div>
        <!-- / Not ready yet! -->
      </div>
    </div>
  </div>
</section>
