<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<section class="section">
  <div class="card">
    <div class="card-body">
      <div class="card-text pt-3">
        <!-- Not ready yet! -->
        <div class="d-flex flex-column jc-center alighn-items-start w-100 pt-4">
          <h1 class="py-2 pb-4">درباره ما</h1>
          <!-- address -->
          <p class="px-2 fs-5" style="line-height: 40px; text-align: justify">
            موسسه صندوق ذخیره فرهنگیان به عنوان یک نهاد خصوصی در سال
            <span> {{ '1374' | faNum }}</span> با هدف ارتقاء وضعیت معیشتی
            فرهنگیان در زمان بازنشستگی، از طریق تشویق و ترغیب ایشان به مشارکت
            فعال در فعالیت‌های اقتصادی، بازار سرمایه و ایفای نقش پر رنگ در
            اقتصاد کشور تاسیس شد. صندوق ذخیره فرهنگیان با داشتن چهار هلدینگ
            پتروشیمی و انرژی، مالی و سرمایه‌گذاری، ساختمانی و خدمات و حدود
            <span>{{ '30' | faNum }}</span>
            شرکت اصلی زیر مجموعه این هلدینگ‌ها، در حال فعالیت اقتصادی به منظور
            کسب سودآوری و تولید ثروت برای فرهنگیان عضو است و کلیه دارایی‌های آن
            نیز متعلق به اعضا است.
          </p>
          <!-- / address -->
        </div>
        <!-- / Not ready yet! -->
      </div>
    </div>
  </div>
</section>
